{% extends "base.html.twig" %}

{% block title 'editer le bien' %}

{% block body %}
    <div class="container mt-4">
        <h2>Editer le bien</h2>
        {{ include ('Admin/_form.html.twig', { form: form, button: 'Editer' }) }}
    </div>
{% endblock %}