
{% extends "base.html.twig" %}

{% block title 'Gérer les biens' %}

{% block body %}    
    <div class="container mt-4">
        <h1>Gérer les biens</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Titre</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for house in properties %}
                    <tr>
                        <td>{{ house.title }}</td>
                        <td>
                            <a href="{{ path ('admin.edit' , {id : house.id}) }}" class="btn btn-secondary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}